<!-- Name: Mishaal.Ghumman -->
<!-- Date: 2024-11-24 -->
<!-- Purpose: To create a global footer-->

<!-- Footer Section -->
<footer style="text-align: center; margin-top: 20px; font-family: Arial, sans-serif;">
    <p>&copy; <script>document.write(new Date().getFullYear());</script> Mishaal Ghumman. All rights reserved.</p>
</footer>

<!-- Existing Scripts -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" 
        integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" 
        crossorigin="anonymous"></script>
<script src="/js/index.js"></script>
</body>
</html>

<!-- End of program -->

