<!-- Name: Mishaal.Ghumman -->
<!-- Date: 2024-11-24 -->
<!-- Purpose: To create a global header on the web app -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Friends List CRUD</title>

    <!-- Font Awesome for icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    
<!-- Start of Header -->
<header id="header">
    <nav>
        <div class="container header-content">
            <!-- Logo image aligned to the left -->
            <img src="img/logo.jpg" alt="Logo" class="logo">

            <!-- Navigation brand aligned to the center -->
            <a href="/" class="nav-brand text-dark">My Friends List</a>
        </div>
    </nav>
</header>
<!-- End of Header -->